/* GLOBAL FIX — makes inputs & buttons EXACT same width */
* {
  box-sizing: border-box !important;
}


/* Full background */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background: linear-gradient(135deg, #fcfaf9, #f09819);
  font-family: 'Poppins', sans-serif;
}

/* Card */
.login-card {
  width: 400px;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 35px rgba(0, 0, 0, 0.25);
}

/* Header */
.card-header {
  background: linear-gradient(135deg, #ff6a00, #ee0978a3);
  padding: 40px 30px;
  text-align: center;
  color: #fff;
}

.card-header h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 10px;
}

.card-header p {
  font-size: 14px;
  opacity: 0.85;
}

/* Body */
.card-body {
  padding: 35px 30px;
}

/* Labels */
label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
  display: block;
  color: #444;
}

/* Autofill Fix */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #ffa84b inset !important;
  -webkit-text-fill-color: #fff !important;
}

/* ---- INPUT AND BUTTON SAME SIZE CONTROL ---- */
input,
button {
  width: 100% !important;
  height: 48px !important;
  border-radius: 30px !important;
  border: none !important;
  box-sizing: border-box !important;
}

/* Gradient Inputs */
input {
  padding: 0 18px;
  margin-bottom: 18px;

  background: linear-gradient(135deg, #ffa84b, #ff7a18) !important;
  color: #fff !important;

  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.85);
}

input:focus {
  outline: 2px solid #ff7a18;
}

/* Forgot Password */
.forgot {
  text-align: right;
  font-size: 13px;
  margin-top: -10px;
  margin-bottom: 18px;
  color: #ff416c;
  cursor: pointer;
}
.forgot:hover {
  text-decoration: underline;
}

/* LOGIN Button */
button {
  margin-top: 10px;

  background: linear-gradient(135deg, #ff7a18, #ff4b2b) !important;
  color: white !important;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  transform: translateY(-2px);
}
