/* ===============================
 PREMIUM CITY NIGHT THEME
=============================== */

.reports-shell {
  padding: 25px;
  min-height: 100vh;
  color: white;
  background: url("/assets/images/city-bg.jpg") no-repeat center center / cover;
  position: relative;
}

/* Dark Overlay */
.reports-shell::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.9)
  );
}

.reports-shell * {
  position: relative;
  z-index: 1;
}


/* ===============================
 TITLE
=============================== */
.title {
  font-size: 28px;
  margin-bottom: 25px;
  font-weight: 800;
  text-align: center;
}



/* ===============================
 FILTER HEADER ALIGNMENT
=============================== */

.filters {
  display: flex;
  align-items: center;
  gap: 22px;
  width: 100%;
  margin-bottom: 10px;
}

/* Label */
.filters > div label {
  display: block;
  margin-bottom: 4px;
  font-size: 13px;
  color: #ffffffcc;
}


/* White Boxes */
select,
.static-box {
  height: 45px;
  width: 250px;
  border-radius: 10px;
  background: rgba(255,255,255,.95);
  color: black;
  border: 1px solid #ccc;
  padding-left: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
}


/* ===============================
 BUTTONS
=============================== */

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.actions button,
.export button {
  height: 45px;
  border-radius: 10px;
  padding: 0 18px;
  border: none;
  cursor: pointer;
  font-weight: 700;
}

/* Generate */
.btn-generate {
  background: #6a6dfd;
  color: white;
}

/* Clear */
.btn-clear {
  background: transparent;
  border: 1px solid #aaa;
  color: white;
}

/* Right Align Export Button */
.export {
  margin-left: auto;
}

/* Export */
.btn-export-green {
  background: #0ccb8e;
  color: white;
}



/* ===============================
 STAT CARDS
=============================== */
.stats-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
  margin-top: 25px;
}

.stat {
  background: white;
  border-radius: 18px;
  padding: 25px;
  text-align: center;
  color: black;
}

.stat h3 {
  color: #2ea3ff;
  font-size: 34px;
  font-weight: 900;
}



/* ===============================
 TABLE
=============================== */

.table-box {
  margin-top: 30px;
  background: white;
  border-radius: 18px;
  padding: 18px;
  color: black;
}

.table-box h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

table {
  width: 100%;
  color: black;
  border-collapse: collapse;
}

thead {
  background: rgb(232, 105, 8);
  color: white;
}

th, td {
  padding: 12px;
}


/* Column Alignment */
.col-rank,
.col-sold {
  text-align: center;
  width: 150px;
}

.col-name {
  text-align: left;
}
