<div class="form-container" *ngIf="!loading; else loadingTpl">
  <h2 class="form-title">Edit Booking</h2>

  <form [formGroup]="bookingForm" (ngSubmit)="saveBooking()">

    <div class="row">
      <label class="label">Layout Name:</label>
      <input type="text" formControlName="layoutName" class="value" />
    </div>

    <div class="row">
      <label class="label">Plot No:</label>
      <input type="text" formControlName="plotNo" class="value" />
    </div>

    <div class="row">
      <label class="label">Customer Name:</label>
      <input type="text" formControlName="customerName" class="value" />
    </div>

    <div class="row">
      <label class="label">Mobile No:</label>
      <input type="text" formControlName="mobileNo" class="value" />
    </div>

    <div class="row">
      <label class="label">Sqft:</label>
      <input type="number" formControlName="sqft" class="value" />
    </div>

    <div class="row">
      <label class="label">Price:</label>
      <input type="number" formControlName="price" class="value" />
    </div>

    <div class="row">
      <label class="label">Paid Amount:</label>
      <input type="number" formControlName="paidAmount" class="value" />
    </div>

    <div class="row">
      <label class="label">Balance:</label>
      <input type="number" formControlName="balance" class="value" />
    </div>

    <div class="row">
      <label class="label">Direction:</label>
      <input type="text" formControlName="direction" class="value" />
    </div>

    <div class="row">
      <label class="label">Address:</label>
      <input type="text" formControlName="address" class="value" />
    </div>

    <div class="row">
      <label class="label">Pincode:</label>
      <input type="text" formControlName="pincode" class="value" />
    </div>

    <div class="row">
      <label class="label">Aadhar No:</label>
      <input type="text" formControlName="aadharNo" class="value" />
    </div>

    <div class="row">
      <label class="label">PAN No:</label>
      <input type="text" formControlName="panNo" class="value" />
    </div>

    <div class="row">
      <button type="submit" class="home-btn">Save</button>
      <button type="button" class="home-btn" (click)="goBack()">Cancel</button>
    </div>

  </form>
</div>

<ng-template #loadingTpl>
  <div class="loading">Loading booking details...</div>
</ng-template>
