<div class="container">

  <h2>List of Plots</h2>

  <!-- Search Section -->
  <div class="search-container">
    <input type="text"
           [(ngModel)]="searchLayoutName"
           (keyup)="filterPlots()"
           placeholder="Search Name"
           class="search-input">

    <input type="text"
           [(ngModel)]="searchPlotNo"
           (keyup)="filterPlots()"
           placeholder="Search Plot No"
           class="search-input">

    <button class="search-btn" (click)="filterPlots()">Search</button>
  </div>

  <!-- Create + Report Buttons -->
  <div class="top-buttons">

    <button class="btn btn-primary" style="margin-left: auto;" (click)="downloadPlotsReport()">
      <i class="fa fa-file-pdf"></i> Download Plots PDF
    </button>
  </div>

  <!-- Table -->
  <div class="table-wrapper">
    <table class="layout-table">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Layout</th>
          <th>Plot</th>
          <th>Survey No</th>
          <th>Owner</th>
          <th>Sqft</th>
          <th>Dir</th>
          <th>Price</th>
          <th>Mobile</th>
          <th>DTCP</th>
          <th>RERA</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let plot of plots | slice:(currentPage-1)*pageSize:(currentPage)*pageSize; let i = index">
          <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
          <td>{{ plot.layout?.layoutName }}</td>
          <td>{{ plot.plotNo }}</td>
          <td>{{ plot.surveyNo }}</td>
          <td>{{ plot.ownerName }}</td>
          <td>{{ plot.sqft }}</td>
          <td>{{ plot.direction }}</td>
          <td>₹ {{ plot.price }}</td>
          <td>{{ plot.mobile }}</td>
          <td>{{ plot.dtcpApproved ? 'Yes' : 'No' }}</td>
          <td>{{ plot.reraApproved ? 'Yes' : 'No' }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="pagination-container">

  <div class="pagination">

    <!-- PREV -->
    <button
  [disabled]="currentPage === 1"
  (click)="prevPage()">
  « Prev
</button>
   
<!-- PAGE NUMBERS -->
    <button
      *ngFor="let page of pages"
      (click)="goToPage(page)"
      [class.active]="currentPage === page">
      {{ page }}
    </button>

    <!-- NEXT -->
    <button
  [disabled]="currentPage === totalPages"
  (click)="nextPage()">
  Next »
</button>

  </div>

    <button class="btn btn-danger pagination-home-btn" (click)="goHome()">Home</button>
  </div>

</div>
