<div class="container">

  <h2>List of Role</h2>

  <!-- SEARCH + CREATE SAME ROW -->
  <div class="search-create-row">

    <div class="search-container">
      <input type="text" placeholder="Search By first or last Name" [(ngModel)]="searchName" (input)="onSearch()"
        class="search-input" />

      <input type="text" placeholder="Search Mobile Number" [(ngModel)]="searchMobile" (input)="onSearch()"
        class="search-input" />

      <button class="search-btn" (click)="onSearch()">Search</button>
    </div>

    <div class="top-buttons">
      <button class="btn btn-success" (click)="createRole()">
        <i class="fa fa-plus"></i> Create Role
      </button>
    </div>

  </div>


  <!-- TABLE -->
  <div class="table-wrapper">
    <table class="layout-table">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Image</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Mobile</th>
          <th>Address</th>
          <th>Aadhar No</th>
          <th>Role</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let c of paginatedCustomers; let i = index">
          <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
          <td>
            <img *ngIf="c.profileImagePath" [src]="imageUrl(c.profileImagePath)" class="avatar" alt="Photo">
          </td>
          <td class="left-align">{{ c.firstName }}</td>
          <td class="left-align">{{ c.lastName }}</td>
          <td>{{ c.mobileNo }}</td>
          <td>{{ c.address }}</td>
          <td>{{ c.aadharNo }}</td>
          <td>{{ c.role }}</td>

          <!-- ✅ ACTION ICONS IN SAME ROW -->
          <td>
            <div class="action-icons">
              <i class="fa fa-eye circle-icon view" (click)="viewRole(c.roleId!)"></i>

              <i class="fa fa-pencil circle-icon edit" (click)="editRole(c)"></i>

              <i class="fa fa-trash circle-icon delete" (click)="deleteRole(c.roleId!)"></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- PAGINATION CONTAINER -->
  <div class="pagination-container">

    <!-- PAGINATION (CENTER) -->
    <div class="pagination">

      <!-- PREV -->
      <button [disabled]="currentPage === 1" (click)="prevPage()">
        « Prev
      </button>

      <!-- PAGE NUMBERS -->
      <button *ngFor="let page of pages" (click)="goToPage(page)" [class.active]="currentPage === page">
        {{ page }}
      </button>

      <!-- NEXT -->
      <button [disabled]="currentPage === totalPages" (click)="nextPage()">
        Next »
      </button>

    </div>

    <!-- HOME (RIGHT CORNER) -->
    <button class="btn btn-danger pagination-home-btn" (click)="goHome()">
      Home
    </button>

  </div>


</div>