<div class="container">
  <h2>List of Customers</h2>

  <!-- Search Inputs -->
  <div class="search-container" style="display: flex; gap: 10px; justify-content: center; margin-bottom: 15px;">
  <input
    type="text"
    placeholder="Search Name"
    [(ngModel)]="searchName"
    (input)="onSearch()"
    style="padding: 10px 20px; border-radius: 20px; border: 1px solid #ccc; width: 200px;"
  />
  <input
    type="text"
    placeholder="Search Mobile Number"
    [(ngModel)]="searchMobile"
    (input)="onSearch()"
    style="padding: 10px 20px; border-radius: 20px; border: 1px solid #ccc; width: 200px;"
  />
  <button
    class="btn btn-primary"
    (click)="onSearch()"
    style="padding: 10px 25px; border-radius: 10px; font-weight: 600;"
  >
    Search
  </button>
</div>


  <!-- Create Button -->
  <div class="top-buttons">
    <button class="btn btn-success" (click)="createEnquiry()">
      <i class="fa fa-plus"></i> Create Customer
    </button>
  </div>

  <!-- Table -->
  <div class="table-wrapper">
    <table class="layout-table">
      <thead>
        <tr>
          <th>S.No</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Address</th>
          <th>Mobile Number</th>
          <th>View</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let c of paginatedCustomers; let i = index">
          <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
          <td>{{ c.firstName }}</td>
          <td>{{ c.lastName }}</td>
          <td>{{ c.address }}</td>
          <td>{{ c.mobileNo }}</td>
          <td><i class="fa fa-eye circle-icon view" (click)="viewcustomer(c.mobileNo)"></i></td>
          <td><i class="fa fa-pencil circle-icon edit" (click)="editCustomer(c)"></i></td>
          <td><i class="fa fa-trash circle-icon delete" (click)="deleteCustomer(c.mobileNo)"></i></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Pagination -->
  <div class="pagination-container">
    <div class="pagination">
      <button [disabled]="currentPage === 1" (click)="prevPage()">&laquo; Prev</button>

      <button *ngFor="let page of totalPagesArray"
              [ngClass]="{'active': page === currentPage}"
              (click)="goToPage(page)">
        {{ page }}
      </button>

      <button [disabled]="currentPage === totalPages" (click)="nextPage()">Next &raquo;</button>
    </div>

    <button class="btn btn-danger pagination-home-btn" (click)="goHome()">Home</button>
  </div>
</div>
