<div class="container layout-container">
  <h2 class="page-title"><u>List of Layouts</u></h2>

<div class="layout-header">

  <div class="top-bar">
    <div class="search-container">
      <input
        type="text"
        placeholder="Search by Layout Name"
        [(ngModel)]="searchName"
      />

      <input
        type="text"
        placeholder="Search by Location"
        [(ngModel)]="searchLocation"
      />

      <button class="search-btn" (click)="search()">
        🔍 Search
      </button>
    </div>

    <button class="create-btn" (click)="navigateToCreate()">
      + Create Layout
    </button>
  </div>
</div>



  <div class="table-responsive">
    <table class="layout-table">
      <thead>
        <tr>
          <th>S.NO</th>
          <th>Layout Name</th>
          <th>Total Area</th>
          <th>Total Plots</th>
          <th>Phone No</th>
          <th>Location</th>
          <th>Address</th>
          <th>Pincode</th>
          <th>Owner 1</th>
          <th>Owner 2</th>
          <th>Owner 3</th>
          <th>Owner 4</th>
          <th>Owner 5</th>
          <th>Owner 6</th>
          <th>DTCP</th>
          <th>RERA</th>
          <th>View</th>
          <th>Edit</th>
          <th>Delete</th>
          <th>Create Plot</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let layout of layouts; let i = index">
          <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
          <td>{{ layout.layoutName }}</td>
          <td>{{ layout.area }}</td>
          <td>{{ layout.noOfPlots }}</td>
          <td>{{ layout.phone }}</td>
          <td>{{ layout.location }}</td>
          <td>{{ layout.address }}</td>
          <td>{{ layout.pincode }}</td>
          <td>{{ layout.ownerName1 }}</td>
          <td>{{ layout.ownerName2 }}</td>
          <td>{{ layout.ownerName3 }}</td>
          <td>{{ layout.ownerName4 }}</td>
          <td>{{ layout.ownerName5 }}</td>
          <td>{{ layout.ownerName6 }}</td>
          <td>{{ layout.dtcpApproved ? 'Yes' : 'No' }}</td>
          <td>{{ layout.reraApproved ? 'Yes' : 'No' }}</td>

          <td><i class="fa fa-eye action-icon view" (click)="viewLayout(layout.layoutName)"></i></td>
          <td><i class="fa fa-pencil action-icon edit" (click)="editLayout(layout.layoutName)"></i></td>
          <td><i class="fa fa-trash action-icon delete" (click)="deleteLayout(layout.layoutName)"></i></td>
          <td><i class="fa fa-plus action-icon create" (click)="createPlot(layout.layoutName)"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="allLayouts.length === 0" class="no-records">
   No Records Found
</div>

  <div class="pagination-flex">
    <div class="pagination">
      <button [disabled]="currentPage === 1" (click)="prevPage()">&laquo; Prev</button>

      <button *ngFor="let page of totalPagesArray"
              [ngClass]="{'active': page === currentPage}"
              (click)="goToPage(page)">
        {{ page }}
      </button>

      <button [disabled]="currentPage === totalPages" (click)="nextPage()">Next &raquo;</button>
    </div>

    <button class="btn btn-danger pagination-home-btn" (click)="goHome()">Home</button>
  </div>
</div>
