<div class="container">

  <h2>List of Layouts</h2>

  <!-- SEARCH + CREATE ROW -->
  <div class="search-create-row">

    <!-- SEARCH -->
    <div class="search-container">
      <input type="text" [(ngModel)]="searchName" (keyup)="filterLayouts()" placeholder="Search Layout Name"
        class="search-input">

      <input type="text" [(ngModel)]="searchLocation" (keyup)="filterLayouts()" placeholder="Search Location"
        class="search-input">

      <button class="search-btn" (click)="filterLayouts()">Search</button>
    </div>

    <!-- CREATE BUTTON -->
    <div class="top-buttons">
      <button class="btn btn-success" (click)="navigateToCreate()">
        <i class="fa fa-plus"></i> Create Layout
      </button>
    </div>

  </div>


  <!-- TABLE -->
  <div class="table-wrapper">
    <table class="layout-table">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Layout Name</th>
          <th>Total Area</th>
          <th>Total Plots</th>
          <th>Phone</th>
          <th>Survey No</th>
          <th>Location</th>
          <th>Address</th>
          <th>Pincode</th>
          <th>DTCP</th>
          <th>RERA</th>
          <th>LAYOUT MAP</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody *ngIf="filteredLayouts.length > 0">
        <tr
          *ngFor="let layout of filteredLayouts | slice:(currentPage-1)*pageSize:(currentPage)*pageSize; let i = index">

          <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
          <td class="left-align">{{ layout.layoutName }}</td>
          <td>{{ layout.area }}</td>
          <td>{{ layout.noOfPlots }}</td>
          <td>{{ layout.phone }}</td>
          <td>{{ layout.surveyNo }}</td>
          <td class="left-align">{{ layout.location }}</td>
          <td>{{ layout.address }}</td>
          <td>{{ layout.pincode }}</td>
          <td>{{ layout.dtcpApproved ? 'Yes' : 'No' }}</td>
          <td>{{ layout.reraApproved ? 'Yes' : 'No' }}</td>

          <td>
            <ng-container *ngIf="layout.pdfPath; else noPdf">
              <button class="pdf-view-btn" [title]="getPdfName(layout.pdfPath)" (click)="viewPdf(layout.layoutName)">
                📄 {{ getPdfName(layout.pdfPath) }}
              </button>
            </ng-container>

            <ng-template #noPdf>
              <span class="no-pdf">-</span>
            </ng-template>
          </td>

          <td>
            <div class="action-icons">
              <i class="fa fa-eye circle-icon view" (click)="viewLayout(layout.layoutName)" title="View Layout"></i>

              <i class="fa fa-pencil circle-icon edit" (click)="editLayout(layout.layoutName)" title="Edit Layout"></i>

              <i class="fa fa-trash circle-icon delete" (click)="deleteLayout(layout.layoutName)"
                title="Delete Layout"></i>

              <i class="fa fa-plus circle-icon book" [routerLink]="['/create-plot']" title="Add Plot"></i>
            </div>
          </td>
        </tr>
      </tbody>

      <tbody *ngIf="filteredLayouts.length === 0">
        <tr>
          <td colspan="13" class="no-records-cell">
            <div class="no-records-msg">
              <i class="fa fa-info-circle"></i> No Records Found
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <app-pagination *ngIf="filteredLayouts.length > 0" [totalItems]="filteredLayouts.length" [pageSize]="pageSize"
      [currentPage]="currentPage" (pageChange)="currentPage = $event"
      (pageSizeChange)="pageSize = $event; currentPage = 1">
    </app-pagination>
  </div>

  <div class="pagination-container">
    <button class="btn btn-danger pagination-home-btn" (click)="goHome()">
      Home
    </button>
  </div>

</div>