<div class="form-container" *ngIf="!loading">
  <h2 class="form-title">Booking Details</h2>

  <div class="row">
    <div class="label">Booking ID:</div>
    <div class="value">{{ booking.bookingId }}</div>
  </div>

  <div class="row">
    <div class="label">Layout Name:</div>
    <div class="value">{{ booking.layout?.layoutName }}</div>
  </div>

  <div class="row">
    <div class="label">Plot No:</div>
    <div class="value">{{ booking.plot?.plotNo || booking.plotNo }}</div>
  </div>

  <div class="row">
    <div class="label">Customer Name:</div>
    <div class="value">{{ booking.customer?.firstName }}</div>
  </div>

  <div class="row">
    <div class="label">Mobile No:</div>
    <div class="value">{{ booking.customer?.mobileNo }}</div>
  </div>

  <div class="row">
    <div class="label">Sqft:</div>
    <div class="value">{{ booking.sqft }}</div>
  </div>

  <div class="row">
    <div class="label">Price:</div>
    <div class="value">₹ {{ booking.price }}</div>
  </div>

  <div class="row">
    <div class="label">Advance1:</div>
    <div class="value">₹ {{ booking.advance1 }}</div>
  </div>

  <div class="row">
    <div class="label">Advance1 Date:</div>
    <div class="value"> {{ booking.advance1Date }}</div>
  </div>

  <div class="row">
    <div class="label">Advance1 Mode:</div>
    <div class="value"> {{ booking.advance1Mode }}</div>
  </div>

  <div class="row">
    <div class="label">Advance2:</div>
    <div class="value">₹ {{ booking.advance2 }}</div>
  </div>

  <div class="row">
    <div class="label">Advance2 Date:</div>
    <div class="value"> {{ booking.advance2Date }}</div>
  </div>

  <div class="row">
    <div class="label">Advance2 Mode:</div>
    <div class="value"> {{ booking.advance2Mode }}</div>
  </div>

  <div class="row">
    <div class="label">Advance3:</div>
    <div class="value">₹ {{ booking.advance3 }}</div>
  </div>

  <div class="row">
    <div class="label">Advance3 Date:</div>
    <div class="value"> {{ booking.advance3Date }}</div>
  </div>

  <div class="row">
    <div class="label">Advance3 Mode:</div>
    <div class="value"> {{ booking.advance3Mode }}</div>
  </div>

  <div class="row">
    <div class="label">Advance4:</div>
    <div class="value">₹ {{ booking.advance4 }}</div>
  </div>

  <div class="row">
    <div class="label">Advance4 Date:</div>
    <div class="value"> {{ booking.advance4Date }}</div>
  </div>

  <div class="row">
    <div class="label">Advance4 Mode:</div>
    <div class="value"> {{ booking.advance4Mode }}</div>
  </div>

  <div class="row">
    <div class="label">Balance:</div>
    <div class="value">₹ {{ booking.balance }}</div>
  </div>

  <div class="row">
    <div class="label">Direction:</div>
    <div class="value">{{ booking.direction }}</div>
  </div>

  <div class="row">
    <div class="label">Address:</div>
    <div class="value">{{ booking.customer?.address }}</div>
  </div>

  <div class="row">
    <div class="label">Pincode:</div>
    <div class="value">{{ booking.customer?.pincode }}</div>
  </div>

  <div class="row">
    <div class="label">Aadhar No:</div>
    <div class="value">{{ booking.customer?.aadharNo }}</div>
  </div>

  <div class="row">
    <div class="label">PAN No:</div>
    <div class="value">{{ booking.panNo }}</div>
  </div>
<div class="btn-row">
  <button class="btn-success" (click)="goBack()">Back</button>
</div>


<ng-template #loadingTpl>
  <div class="loading">Loading booking details...</div>
</ng-template>
