<div class="form-container" *ngIf="!loading">
  <h2 class="form-title">Booking Details</h2>

  <div class="details-grid">
    <div class="row">
      <span class="icon"><i class="fa-solid fa-ticket"></i></span>
      <span class="label">Booking ID</span>
      <span class="colon">:</span>
      <span class="value">{{ booking.bookingId }}</span>
    </div>

    <div class="row">
      <span class="icon"><i class="fa-solid fa-layer-group"></i></span>
      <span class="label">Layout Name</span>
      <span class="colon">:</span>
      <span class="value">{{ booking.layout?.layoutName }}</span>
    </div>

    <div class="row">
      <span class="icon"><i class="fa-solid fa-hashtag"></i></span>
      <span class="label">Plot No</span>
      <span class="colon">:</span>
      <span class="value">{{ booking.plot?.plotNo || booking.plotNo }}</span>
    </div>

    <div class="row">
      <span class="icon"><i class="fa-solid fa-user"></i></span>
      <span class="label">Customer Name</span>
      <span class="colon">:</span>
      <span class="value">{{ booking.customer?.firstName }}</span>
    </div>

    <div class="row">
      <span class="icon"><i class="fa-solid fa-phone"></i></span>
      <span class="label">Mobile No</span>
      <span class="colon">:</span>
      <span class="value">{{ booking.customer?.mobileNo }}</span>
    </div>

    <div class="row">
      <span class="icon"><i class="fa-solid fa-square"></i></span>
      <span class="label">Sqft</span>
      <span class="colon">:</span>
      <span class="value">{{ booking.sqft }}</span>
    </div>

    <div class="row">
      <span class="icon"><i class="fa-solid fa-indian-rupee-sign"></i></span>
      <span class="label">Price</span>
      <span class="colon">:</span>
      <span class="value">₹ {{ booking.price }}</span>
    </div>

    <div class="row">
      <span class="icon"><i class="fa-solid fa-wallet"></i></span>
      <span class="label">Advance1</span>
      <span class="colon">:</span>
      <span class="value">₹ {{ booking.advance1 }}</span>
    </div>


  <div class="row">
    <div class="label">Advance1 Date:</div>
    <div class="value"> {{ booking.advance1Date }}</div>
  </div>

  <div class="row">
    <div class="label">Advance1 Mode:</div>
    <div class="value"> {{ booking.advance1Mode }}</div>
  </div>

  <div class="row">
    <div class="label">Advance2:</div>
    <div class="value">₹ {{ booking.advance2 }}</div>
  </div>

  <div class="row">
    <div class="label">Advance2 Date:</div>
    <div class="value"> {{ booking.advance2Date }}</div>
  </div>

  <div class="row">
    <div class="label">Advance2 Mode:</div>
    <div class="value"> {{ booking.advance2Mode }}</div>
  </div>

  <div class="row">
    <div class="label">Advance3:</div>
    <div class="value">₹ {{ booking.advance3 }}</div>
  </div>

  <div class="row">
    <div class="label">Advance3 Date:</div>
    <div class="value"> {{ booking.advance3Date }}</div>
  </div>

  <div class="row">
    <div class="label">Advance3 Mode:</div>
    <div class="value"> {{ booking.advance3Mode }}</div>
  </div>

  <div class="row">
    <div class="label">Advance4:</div>
    <div class="value">₹ {{ booking.advance4 }}</div>
  </div>

  <div class="row">
    <div class="label">Advance4 Date:</div>
    <div class="value"> {{ booking.advance4Date }}</div>
  </div>

  <div class="row">
    <div class="label">Advance4 Mode:</div>
    <div class="value"> {{ booking.advance4Mode }}</div>
  </div>

  <div class="row">
    <div class="label">Balance:</div>
    <div class="value">₹ {{ booking.balance }}</div>
  </div>


    <div class="row">
      <span class="icon"><i class="fa-solid fa-compass"></i></span>
      <span class="label">Direction</span>
      <span class="colon">:</span>
      <span class="value">{{ booking.direction }}</span>
    </div>

    <div class="row">
      <span class="icon"><i class="fa-solid fa-house"></i></span>
      <span class="label">Address</span>
      <span class="colon">:</span>
      <span class="value">{{ booking.customer?.address }}</span>
    </div>

    <div class="row">
      <span class="icon"><i class="fa-solid fa-key"></i></span>
      <span class="label">Pincode</span>
      <span class="colon">:</span>
      <span class="value">{{ booking.customer?.pincode }}</span>
    </div>

    <div class="row">
      <span class="icon"><i class="fa-solid fa-id-card"></i></span>
      <span class="label">Aadhar No</span>
      <span class="colon">:</span>
      <span class="value">{{ booking.customer?.aadharNo }}</span>
    </div>

    <div class="row">
      <span class="icon"><i class="fa-solid fa-id-badge"></i></span>
      <span class="label">PAN No</span>
      <span class="colon">:</span>
      <span class="value">{{ booking.panNo }}</span>
    </div>
  </div>
<div class="btn-row">
  <button class="btn-success" (click)="goBack()">Back</button>
</div>


<ng-template #loadingTpl>
  <div class="loading">Loading booking details...</div>
</ng-template>
