<div class="container">

  <h2>List of Plots</h2>

<!-- SEARCH + CREATE SAME LINE -->
<div class="search-create-row">

  <!-- SEARCH (CENTER) -->
  <div class="search-container">
    <input type="text"
           [(ngModel)]="searchLayoutName"
           (keyup)="filterPlots()"
           placeholder="Search Layout Name"
           class="search-input">

    <input type="text"
           [(ngModel)]="searchPlotNo"
           (keyup)="filterPlots()"
           placeholder="Search Plot No"
           class="search-input">

    <button class="search-btn" (click)="filterPlots()">Search</button>
  </div>

  <!-- CREATE (RIGHT) -->
  <div class="top-buttons">
    <button class="btn btn-success" routerLink="/create-plot">
      <i class="fa fa-plus"></i> Create Plot
    </button>
  </div>

</div>

  <!-- Table -->
  <div class="table-wrapper">
    <table class="layout-table">
      <thead>
        <tr>
          <th>S.No</th>
          <th class="text-left">Layout Name</th>
          <th>Plot</th>
          <th class="text-left">Survey No</th>
         <th class="text-left">Owner</th>
          <th>Sqft</th>
          <th>Dir</th>
          <th>Price</th>
          <th>Mobile</th>
          <th>DTCP</th>
          <th>RERA</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let plot of plots | slice:(currentPage-1)*pageSize:(currentPage)*pageSize; let i = index">
          <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
          <td class="text-left">{{ plot.layout?.layoutName }}</td>
          <td>{{ plot.plotNo }}</td>
          <td class="text-left">{{ plot.surveyNo }}</td>
          <td class="text-left">{{ plot.ownerName }}</td>
          <td>{{ plot.totalSqft }}</td>
          <td>{{ plot.direction }}</td>
          <td>₹ {{ plot.price }}</td>
          <td>{{ plot.mobile }}</td>
          <td>{{ plot.dtcpApproved ? 'Yes' : 'No' }}</td>
          <td>{{ plot.reraApproved ? 'Yes' : 'No' }}</td>

          <td>
            <i class="fa fa-eye circle-icon view" 
               (click)="viewPlot(plot.layout.layoutName, plot.plotNo)"
               title="View Plot"></i>
            <i class="fa fa-pencil circle-icon edit" 
               (click)="editPlot(plot.layout.layoutName, plot.plotNo)"
               title="Edit Plot"></i>
            <i class="fa fa-trash circle-icon delete" 
               (click)="deletePlot(plot.layout.layoutName, plot.plotNo)"
               title="Delete Plot"></i>
            <i class="fa fa-book circle-icon book"
               [class.disabled]="plot.booked"
               (click)="onBookClick(plot)"
               title="Book Plot">
            </i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="pagination-container">

  <div class="pagination">

    <!-- PREV -->
    <button
  [disabled]="currentPage === 1"
  (click)="prevPage()">
  « Prev
</button>
   
<!-- PAGE NUMBERS -->
    <button
      *ngFor="let page of pages"
      (click)="goToPage(page)"
      [class.active]="currentPage === page">
      {{ page }}
    </button>

    <!-- NEXT -->
    <button
  [disabled]="currentPage === totalPages"
  (click)="nextPage()">
  Next »
</button>

  </div>

  <button class="btn btn-danger pagination-home-btn" (click)="goHome()">
    Home
  </button>

</div>


</div>
