<div class="form-container">
  <h2 class="form-title">View Customer</h2>

  <div style="text-align:center; margin-bottom: 16px;">
    <img *ngIf="customer.profileImagePath" [src]="imageUrl(customer.profileImagePath)" class="avatar-large"
      alt="Profile">
  </div>

  <div class="details-grid">
    <div class="row">
      <span class="icon"><i class="fa fa-user"></i></span>
      <span class="label">First Name</span>
      <span class="colon">:</span>
      <span class="value">{{ customer.firstName }}</span>
    </div>

    <div class="row">
      <span class="icon"><i class="fa fa-user"></i></span>
      <span class="label">Last Name</span>
      <span class="colon">:</span>
      <span class="value">{{ customer.lastName}}</span>
    </div>

    <div class="row">
      <span class="icon"><i class="fa fa-phone"></i></span>
      <span class="label">Mobile Number</span>
      <span class="colon">:</span>
      <span class="value">{{ customer.mobileNo }}</span>
    </div>

    <div class="row full-width">
      <span class="icon"><i class="fa fa-home"></i></span>
      <span class="label">Address</span>
      <span class="colon">:</span>
      <span class="value">{{ customer.address}}</span>
    </div>

    <div class="row">
      <span class="icon"><i class="fa fa-map-pin"></i></span>
      <span class="label">Pincode</span>
      <span class="colon">:</span>
      <span class="value">{{ customer.pincode }}</span>
    </div>

    <div class="row">
      <span class="icon"><i class="fa fa-id-card"></i></span>
      <span class="label">Aadhaar Number</span>
      <span class="colon">:</span>
      <span class="value">{{ customer.aadharNo}}</span>
    </div>

    <div class="row full-width" *ngIf="customer.comments">
      <span class="icon"><i class="fa fa-comment"></i></span>
      <span class="label">Comments</span>
      <span class="colon">:</span>
      <span class="value">{{ customer.comments }}</span>
    </div>

    <div class="row" *ngIf="customer.referralName">
      <span class="icon"><i class="fa fa-user"></i></span>
      <span class="label">Referral Name</span>
      <span class="colon">:</span>
      <span class="value">{{ customer.referralName }}</span>
    </div>

    <div class="row" *ngIf="customer.referralNumber">
      <span class="icon"><i class="fa fa-phone"></i></span>
      <span class="label">Referral Number</span>
      <span class="colon">:</span>
      <span class="value">{{ customer.referralNumber }}</span>
    </div>
  </div>

  <!-- <div class="row">
    <i class="fa fa-id-badge icon"></i>
    <span class="label">Pan Number:</span>
    <span class="value">{{ customer.panNo}}</span>
  </div> -->

  <div class="btn-row">
    <button class="btn home-btn" (click)="goHome()">BACK</button>
  </div>